<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color: #EFFBF1;">
    <div class="container mt-4">
      <h1>Dashboard</h1>
      <div style="margin-top: 3rem;">
      <div>
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FToronto&title=Bookings&showPrint=0&mode=WEEK&src=ODBlZmU1MmIxYmFlYjI4ZjdjNjQ2MTA5N2U3NDlkMmFkMjNkZTJkY2ZiNjNkNzQwY2JhNTU5ZDEwZmRhNzBlYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%238E24AA"
          style="border-width: 0"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
      <div class="mt-4">
        <a href="/logout" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </body>
</html>
