<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coach Info</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color: #effbf1">
    <div class="container mt-4">
      <h1>Your Coach</h1>
      <p>{{ message }}</p>
      <a href="/dash" class="btn btn-primary">Back to Dashboard</a>
    </div>
  </body>
</html>
